
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Navigator.cshtml";
}

<div class="container-fluid text-center" style="background-color: #ffffff; color: #474E5D">
    <h3>About Myself</h3><br>
    <p>
        @Html.Raw(ViewBag.About)
    </p>
</div>

