@model PWEntity.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Navigator.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <h3>
        @if(TempData["error"] == null)
        {
            @:<span>Please Sign in to continue</span>
        }
        else
        {
            @TempData["error"]
        }
    </h3>
    <form method="post">
        <label>Username</label>
        <br />
        <input type="text" name="username" placeholder="Username" required/>
        <br /><br />
        <label>Password</label>
        <br />
        <input type="password" name="password" placeholder="Password" required />
        <br /><br />
        <input type="submit" value="Login" class="btn btn-info"/>
    </form>
</div>

